@charset "UTF-8";
.banner .information-list .text, .part.part-activite .information-list dd .text, .message-list .con {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  font-size: 0;
  background: rgba(0, 0, 0, 0.6); }

.swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 100%;
  outline: none;
  padding: 0;
  border-radius: 0;
  background: url("../img/23.png") no-repeat center center;
  opacity: 1;
  vertical-align: middle; }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 18px;
    background: url("../img/18.png") no-repeat center center; }

.swiper-prev {
  background-image: url(../img/left.png);
  left: 0; }

.swiper-next {
  background-image: url(../img/right.png);
  right: 0; }

.swiper-prev, .swiper-next {
  position: absolute;
  outline: none;
  top: 50%;
  width: 36px;
  height: 60px;
  margin-top: -30px;
  z-index: 10;
  cursor: pointer;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; }

.w214 {
  width: 214px; }

.w240 {
  width: 240px; }

.w236 {
  width: 236px; }

/*导航*/
.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  height: 95px;
  background: rgba(0, 0, 0, 0.85); }
  .nav .logo {
    float: left;
    padding-top: 13px; }
    .nav .logo img {
      display: block; }
  .nav .nav-list {
    float: right; }
    .nav .nav-list li {
      float: left;
      padding: 20px 6px 0;
      margin-left: 74px;
      text-align: center;
      color: #fff;
      font-size: 20px;
      line-height: 30px; }
      .nav .nav-list li:first-child {
        margin-left: 0; }
      .nav .nav-list li.act {
        color: #d1b681; }
      .nav .nav-list li:hover {
        color: #d1b681; }
  .nav .name-c {
    font-size: 20px;
    line-height: 30px; }
  .nav .name-e {
    font-size: 16px;
    line-height: 26px; }

/*脚部*/
.footer {
  background: #000;
  padding: 60px 0;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-top: 140px; }
  .footer p {
    padding-left: 308px; }

/*导航*/
.banner {
  position: relative;
  max-width: 1920px;
  margin-bottom: 36px;
  overflow: hidden;
  /*.information {
    float: left;
    width: 436px;
  }*/ }
  .banner .brand {
    width: 1200px;
    height: 342px;
    position: absolute;
    left: 50%;
    bottom: 32px;
    z-index: 2;
    margin-left: -600px;
    background: rgba(70, 62, 54, 0.85);
    border: 1px solid #4b330f;
    box-shadow: inset 0 0 2px rgba(9, 2, 4, 0.75); }
  .banner .banner-swiper-container {
    position: relative; }
    .banner .banner-swiper-container .swiper-prev, .banner .banner-swiper-container .swiper-next {
      width: 50px;
      height: 88px;
      margin-top: -28px; }
  .banner .brand-swiper-container {
    float: left;
    width: 500px;
    height: 340px;
    overflow: hidden;
    position: relative; }
  .banner .info {
    float: right;
    width: 670px;
    padding-right: 30px; }
  .banner .tab-bar {
    height: 62px;
    border-bottom: 2px solid #000;
    margin-bottom: 18px; }
    .banner .tab-bar li {
      position: relative;
      float: left;
      padding: 10px 28px 0;
      margin-right: 22px;
      line-height: 50px;
      color: #c7a776; }
      .banner .tab-bar li.act {
        color: #fff; }
        .banner .tab-bar li.act:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          z-index: 2;
          height: 3px;
          width: 100%;
          background: url("../img/4.png") no-repeat;
          background-size: 100%; }
  .banner .information-list li {
    position: relative;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 8px; }
    .banner .information-list li:before {
      content: "";
      position: absolute;
      background-color: #d3b47d;
      width: 3px;
      height: 14px;
      left: 0;
      top: 13px; }
    .banner .information-list li:hover .text {
      text-decoration: underline; }
  .banner .information-list .text {
    float: left;
    width: 450px; }
  .banner .download {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: 270px;
    z-index: 9;
    padding: 44px 0 24px 34px;
    width: 540px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden; }
  .banner .ercode {
    float: left;
    margin-bottom: 10px; }
  .banner .ercode img {
    width: 174px; }
  .banner .ercode p {
    color: #fff;
    font-size: 18px;
    line-height: 2; }
  .banner .down-icon {
    float: left;
    margin-right: -22px; }
  .banner .down-icon img {
    display: block;
    margin-top: -6px;
    margin-bottom: -10px; }

/*首页内容*/
.part {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
  /*标题*/
  /*主体内容*/
  /*轮播*/
  /*关于我们*/
  /*活动中心*/
  /*精彩视频*/
  /*特色玩法*/ }
  .part .part-tit {
    position: relative;
    margin-bottom: 32px;
    font-size: 0; }
    .part .part-tit .line {
      vertical-align: bottom;
      position: relative;
      top: -8px;
      left: 2px; }
    .part .part-tit .more {
      font-size: 16px;
      position: absolute;
      right: 0;
      bottom: 14px;
      padding-right: 32px;
      line-height: 32px;
      background: url("../img/9.png") no-repeat right 6px; }
  .part .part-con {
    position: relative; }
  .part .part-swiper-container {
    width: 500px;
    height: 304px;
    overflow: hidden;
    float: left;
    position: relative; }
  .part.part-ours .link {
    float: right;
    width: 700px;
    height: 304px;
    padding: 1px 0 0 4px;
    background: url("../img/10.png") no-repeat 0 0; }
    .part.part-ours .link li {
      float: left;
      height: 151px;
      text-align: center;
      padding-top: 36px;
      margin: 0 1px -1px 0;
      font-size: 20px;
      line-height: 36px; }
      .part.part-ours .link li:hover {
        padding: 0;
        line-height: 151px;
        font-size: 24px;
        color: #fff;
        background: url("../img/11.png") no-repeat center center;
        background-size: 101% 101%;
        overflow: hidden; }
        .part.part-ours .link li:hover img {
          display: none; }
  .part.part-activite .information-list {
    float: right;
    width: 700px;
    height: 304px;
    padding-left: 46px; }
    .part.part-activite .information-list dt {
      margin-bottom: 20px;
      padding: 8px 0 18px;
      text-align: center;
      background: url(../img/bg/border1.jpg) no-repeat center bottom; }
    .part.part-activite .information-list dd {
      position: relative;
      line-height: 40px;
      font-size: 16px;
      color: #333;
      padding-left: 12px; }
      .part.part-activite .information-list dd:before {
        content: "";
        position: absolute;
        background-color: #d3b47d;
        width: 3px;
        height: 14px;
        left: 0;
        top: 13px; }
      .part.part-activite .information-list dd:hover .text {
        text-decoration: underline; }
      .part.part-activite .information-list dd .text {
        float: left;
        width: 460px; }
  .part.part-video .video-box {
    float: right;
    width: 700px;
    height: 304px;
    padding-left: 8px; }
  .part.part-video .video {
    float: left;
    position: relative;
    margin-bottom: 4px;
    margin-left: 32px; }
    .part.part-video .video img {
      display: block; }
    .part.part-video .video .icon {
      position: absolute;
      z-index: 3;
      left: 50%;
      top: 50%;
      margin-top: -30px;
      margin-left: -30px; }
    .part.part-video .video .info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: rgba(255, 255, 255, 0.8);
      padding: 4px 10px;
      font-size: 12px;
      color: #333;
      line-height: 16px; }
  .part.part-feature {
    overflow: hidden;
    position: relative; }
    .part.part-feature .feature-container {
      max-width: 1000px;
      margin: 0 auto; }
      .part.part-feature .feature-container .swiper-prev {
        background-image: url(../img/left1.png);
        left: 0; }
      .part.part-feature .feature-container .swiper-next {
        background-image: url(../img/right1.png);
        right: 0; }
    .part.part-feature .slide {
      width: 100%;
      min-height: 180px;
      overflow: hidden;
      position: relative; }
    .part.part-feature .slide .img {
      overflow: hidden;
      position: absolute;
      transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s; }
    .part.part-feature .slide .img img {
      width: calc(100% - 14px);
      height: calc(100% - 14px);
      margin: 7px; }
    .part.part-feature .slide .img1 {
      width: 40%;
      height: 40%;
      top: 30%;
      left: -50%;
      z-index: 1; }
    .part.part-feature .slide .img2 {
      width: 60%;
      height: 60%;
      top: 20%;
      left: -20%;
      z-index: 2; }
    .part.part-feature .slide .img3 {
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;
      z-index: 3; }
    .part.part-feature .slide .img4 {
      width: 60%;
      height: 60%;
      top: 20%;
      left: 60%;
      z-index: 2; }
    .part.part-feature .slide .img5 {
      width: 40%;
      height: 40%;
      top: 30%;
      left: 110%;
      z-index: 1; }
    .part.part-feature .slide-bt {
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 10; }
    .part.part-feature .slide-bt span {
      display: inline-block;
      width: 20px;
      height: 20px;
      outline: none;
      margin: 0 2px;
      background: url("../img/24.png") no-repeat center center;
      opacity: 1;
      vertical-align: middle; }
    .part.part-feature .slide .slide-bt .on {
      background: url("../img/18.png") no-repeat center center; }

/*建设中*/
.building {
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  margin: 140px 0; }
  .building img {
    vertical-align: sub;
    margin-right: 10px; }

/*新闻列表*/
.message-list {
  width: 1200px;
  margin: 80px auto 0; }
  .message-list dt {
    position: relative;
    font-size: 0; }
    .message-list dt .line {
      vertical-align: bottom;
      position: relative;
      top: -8px;
      left: 2px; }
  .message-list dd {
    padding: 34px 10px 10px 0;
    background: url("../img/bg/border.jpg") no-repeat center bottom; }
  .message-list .tit {
    line-height: 40px;
    font-size: 20px; }
  .message-list .con {
    font-size: 16px;
    padding-left: 60px;
    line-height: 46px; }
  .message-list .buttom-bar {
    height: 34px;
    line-height: 34px;
    font-size: 14px; }
    .message-list .buttom-bar .time {
      float: right;
      color: #666; }

.new {
  width: 1200px;
  margin: 80px auto 0; }
  .new .title {
    margin-bottom: 20px; }
    .new .title .nav-box {
      line-height: 36px;
      padding-bottom: 16px;
      border-bottom: 2px solid #d8c29b; }
      .new .title .nav-box img {
        float: left;
        margin-right: 10px; }
    .new .title .time {
      color: #666;
      margin-left: 44px;
      line-height: 22px; }
  .new .main .new-tit {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    font-size: 26px;
    font-family: "微软雅黑", "黑体";
    font-weight: normal;
    width: 80%; }
  .new .main .new-con {
    padding: 20px 40px; }
    .new .main .new-con p {
      font-size: 14px;
      line-height: 28px;
      text-indent: 2em;
      margin-bottom: 10px; }
    .new .main .new-con img {
      vertical-align: middle; }

/*下载*/
.download .download-main {
  padding-bottom: 24px;
  margin-bottom: 40px;
  background: url(../img/bg/border2.png) no-repeat center bottom; }
.download .download-ercode {
  float: left;
  width: 260px; }
.download .download-ercode img {
  display: block;
  width: 100%; }
.download .download-intro {
  overflow: hidden; }
.download .download-intro img {
  display: block;
  margin: 0 auto; }
.download .download-intro-main {
  font-size: 22px;
  font-weight: bold;
  line-height: 48px;
  margin-top: 10px; }
.download .download-intro-text1 {
  float: left;
  margin-left: 100px; }
.download .download-intro-text2 {
  float: left;
  margin-left: 140px; }
.download .download-text dl {
  padding-bottom: 12px;
  font-weight: bold; }
.download .download-text dt {
  font-size: 20px;
  padding: 6px 0;
  line-height: 36px; }
.download .download-text dt img {
  vertical-align: -10px;
  margin-right: 6px; }
.download .download-text dd {
  font-size: 16px;
  line-height: 28px; }
.download .download-text .indent {
  text-indent: 2em; }

/*# sourceMappingURL=index.css.map */
