/*通用样式*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 公用样式 */

.cl-inherit {
    color: inherit !important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hidden {
    display: none !important;
}

.over-hidden {
    overflow: hidden;
}

.clear-fix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clear-fix {
    zoom: 1
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.ver-t {
    vertical-align: top !important;
}

.ver-m {
    vertical-align: middle !important;
}

.ver-b {
    vertical-align: bottom !important;
}

.bt {
    border-top: 1px solid #ddd;
}

.bb {
    border-bottom: 1px solid #ddd;
}

.bl {
    border-left: 1px solid #ddd;
}

.br {
    border-right: 1px solid #ddd;
}

.wp100 {
    width: 100%
}

.fz12 {
    font-size: 12px !important;
}

.fz14 {
    font-size: 14px !important;
}

.fz16 {
    font-size: 16px !important;
}

.fz18 {
    font-size: 18px !important;
}

.fz24 {
    font-size: 24px !important;
}

.fz30 {
    font-size: 30px !important;
}

.cl-base11 {
    color: #1b1a1f !important;
}

.cl-base12 {
    color: #333 !important;
}

.cl-base13 {
    color: #666 !important;
}

.cl-base14 {
    color: #999 !important;
}

.cl-base21 {
    color: #da251d !important;
}

.cl-base24 {
    color: #990000 !important;
}

.cl-base31 {
    color: #f8a120 !important;
}

.cl-base32 {
    color: #c69c6d !important;
}

.cl-base41 {
    color: #337ab7 !important;
}

.cl-base42 {
    color: #27A9E3 !important;
}

.cl-base51 {
    color: #7ABD54 !important;
}

.bg-base11 {
    background: #1b1a1f !important;
    border-color: #1b1a1f !important;
}

.bg-base12 {
    background: #333 !important;
    border-color: #333 !important;
}

.bg-base13 {
    background: #666 !important;
    border-color: #666 !important;
}

.bg-base14 {
    background: #999 !important;
    border-color: #999 !important;
}

.bg-base21 {
    background: #da251d !important;
    border-color: #da251d !important;
}

.bg-base31 {
    background: #f8a120 !important;
    border-color: #f8a120 !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pt60 {
    padding-top: 60px !important;
}

.pt70 {
    padding-top: 70px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.pt90 {
    padding-top: 90px !important;
}

.pt100 {
    padding-top: 100px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.pb70 {
    padding-bottom: 70px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pb90 {
    padding-bottom: 90px !important;
}

.pb100 {
    padding-bottom: 100px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pl60 {
    padding-left: 60px !important;
}

.pl70 {
    padding-left: 70px !important;
}

.pl80 {
    padding-left: 80px !important;
}

.pl90 {
    padding-left: 90px !important;
}

.pl100 {
    padding-left: 100px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pr60 {
    padding-right: 60px !important;
}

.pr70 {
    padding-right: 70px !important;
}

.pr80 {
    padding-right: 80px !important;
}

.pr90 {
    padding-right: 90px !important;
}

.pr100 {
    padding-right: 100px !important;
}

.mt-1 {
    margin-top: -1px !important;
}

.mt-1 {
    margin-top: -1px !important;
}

.mt-2 {
    margin-top: -2px !important;
}

.mt-3 {
    margin-top: -3px !important;
}

.mt-4 {
    margin-top: -4px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.mt90 {
    margin-top: 90px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb6 {
    margin-bottom: 6px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.mb90 {
    margin-bottom: 90px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.ml60 {
    margin-left: 60px !important;
}

.ml70 {
    margin-left: 70px !important;
}

.ml80 {
    margin-left: 80px !important;
}

.ml90 {
    margin-left: 90px !important;
}

.ml100 {
    margin-left: 100px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.mr70 {
    margin-right: 70px !important;
}

.mr80 {
    margin-right: 80px !important;
}

.mr90 {
    margin-right: 90px !important;
}

.mr100 {
    margin-right: 100px !important;
}

.t0 {
    top: 0px !important;
}

.t10 {
    top: 10px !important;
}

.t20 {
    top: 20px !important;
}

.t30 {
    top: 30px !important;
}

.t40 {
    top: 40px !important;
}

.t50 {
    top: 50px !important;
}

.t60 {
    top: 60px !important;
}

.t70 {
    top: 70px !important;
}

.t80 {
    top: 80px !important;
}

.t90 {
    top: 90px !important;
}

.t100 {
    top: 100px !important;
}

.t-10 {
    top: -10px !important;
}

.t-20 {
    top: -20px !important;
}

.t-30 {
    top: -30px !important;
}

.t-40 {
    top: -40px !important;
}

.t-50 {
    top: -50px !important;
}

.t-60 {
    top: -60px !important;
}

.t-70 {
    top: -70px !important;
}

.t-80 {
    top: -80px !important;
}

.t-90 {
    top: -90px !important;
}

.t-100 {
    top: -100px !important;
}

.b0 {
    bottom: 0px !important;
}

.b10 {
    bottom: 10px !important;
}

.b20 {
    bottom: 20px !important;
}

.b30 {
    bottom: 30px !important;
}

.b40 {
    bottom: 40px !important;
}

.b50 {
    bottom: 50px !important;
}

.b60 {
    bottom: 60px !important;
}

.b70 {
    bottom: 70px !important;
}

.b80 {
    bottom: 80px !important;
}

.b90 {
    bottom: 90px !important;
}

.b100 {
    bottom: 100px !important;
}

.b-10 {
    bottom: -10px !important;
}

.b-20 {
    bottom: -20px !important;
}

.b-30 {
    bottom: -30px !important;
}

.b-40 {
    bottom: -40px !important;
}

.b-50 {
    bottom: -50px !important;
}

.b-60 {
    bottom: -60px !important;
}

.b-70 {
    bottom: -70px !important;
}

.b-80 {
    bottom: -80px !important;
}

.b-90 {
    bottom: -90px !important;
}

.b-100 {
    bottom: -100px !important;
}

.l0 {
    left: 0px !important;
}

.l10 {
    left: 10px !important;
}

.l20 {
    left: 20px !important;
}

.l30 {
    left: 30px !important;
}

.l40 {
    left: 40px !important;
}

.l50 {
    left: 50px !important;
}

.l60 {
    left: 60px !important;
}

.l70 {
    left: 70px !important;
}

.l80 {
    left: 80px !important;
}

.l90 {
    left: 90px !important;
}

.l100 {
    left: 100px !important;
}

.l-10 {
    left: -10px !important;
}

.l-20 {
    left: -20px !important;
}

.l-30 {
    left: -30px !important;
}

.l-40 {
    left: -40px !important;
}

.l-50 {
    left: -50px !important;
}

.l-60 {
    left: -60px !important;
}

.l-70 {
    left: -70px !important;
}

.l-80 {
    left: -80px !important;
}

.l-90 {
    left: -90px !important;
}

.l-100 {
    left: -100px !important;
}

.r0 {
    right: 0px !important;
}

.r10 {
    right: 10px !important;
}

.r20 {
    right: 20px !important;
}

.r30 {
    right: 30px !important;
}

.r40 {
    right: 40px !important;
}

.r50 {
    right: 50px !important;
}

.r60 {
    right: 60px !important;
}

.r70 {
    right: 70px !important;
}

.r80 {
    right: 80px !important;
}

.r90 {
    right: 90px !important;
}

.r100 {
    right: 100px !important;
}

.r-10 {
    right: -10px !important;
}

.r-20 {
    right: -20px !important;
}

.r-30 {
    right: -30px !important;
}

.r-40 {
    right: -40px !important;
}

.r-50 {
    right: -50px !important;
}

.r-60 {
    right: -60px !important;
}

.r-70 {
    right: -70px !important;
}

.r-80 {
    right: -80px !important;
}

.r-90 {
    right: -90px !important;
}

.r-100 {
    right: -100px !important;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.bg-wrapper {
    background: #ededed;
    overflow: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.dis {
    cursor: default;
}