// 定义变量
$bgColor: #ededed;
$selectColor: #fff3f3;
$base11Color: #1b1a1f;
$base12Color: #333;
$base13Color: #666;
$base14Color: #999;
$base15Color: #ddd;
$base21Color: #d1b681;
$base22Color: #4b330f;
$elements: base, second, three, modal, nav, top;
$false: false !default;
%text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}